
.mainContent
{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#navbar-section
{
	margin-bottom: 0px;
}
#register-buttons-section
{
	width: 100%;

	animation: fadein 2s;
}



@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes btnbgtrans {
	from{
		background-color: #cdc0b7;
		font-weight: bold;
		width: 150px;
		color:black;
	}
	to {
		background-color: #a7968b;
		font-weight: bold;
		color: white;
	}
}

.footer
{
	margin: 0;
	padding: 0px;
	width: 100%;

}
.footer-bottom{
	background-color: black;
	color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 11px;
	padding-top: 10px;
}
.footer-body
{
	background-color: #222;
	color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	padding-top: 12px;
	padding-bottom: 7px
}
.adjust-content
{
	padding-left: 10%;
	padding-right: 10%;
	margin: 0px
}